# Dependencies
node_modules/

# Environment variables
.env

# Firebase credentials
service-account.json

# Logs
*.log
npm-debug.log*
logs/

# Release binaries
public/myrank-release.aab
public/myrank.apk
public/*.apk

# OS files
.DS_Store
